
    .container{
      align-content: center;
    }

    .input-group-text-left {
      border-radius: 15px 0 0 15px !important;
    }
    .input-group-text-right {
      border-radius: 0 15px 15px 0 !important;
    }
    .attach_btn{
  background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .send_btn{

  background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .search_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .menu_btn {
        background-color: transparent;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }
    .user_img{
      height: 50px;
      width: 50px;
      border: 0px solid #f5f6fa;
    
    }
    .user_img_msg{
      height: 40px;
      width: 40px;
      border:1.5px solid #f5f6fa;
    
    }
  .img_cont{
      position: relative;
      height: 50px;
      width: 50px;
      overflow: hidden;
  }
  .online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
  }
  .offline{
    background-color: #c23616 !important;
  }

  .video_cam{
    margin-left: 50px;
    margin-top: 5px;
  }
  .video_cam span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .chat_actions {
    position: absolute;
    right: 4px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .chat_actions span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }


  .msg_head{
    position: relative;
  }
  @media(max-width: 576px){
  .contacts_card{
    margin-bottom: 15px !important;
  }
  }
  
.information img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    float: left;
}


.card.card_contact_profile {
  color : #FFF!important;
}
.card.card_contact_profile .card-body {
  color : #000!important;
  background-color: #FFF!important;
  overflow: auto;
}
    
  .card-shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.card-shadow:before, .card-shadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.card-shadow:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.customer-chat-logo.icon-my-agent {
    font-weight: bold;
}

.msg_card_body{
  overflow-y: auto;
  background-color: #f5f5f5 !important;
  padding-bottom: 5px;
}
.msg_card_body-panel {
  width:100%
}
.msg_card_body-bubbles {
  min-height: calc(100% - 65px);
  min-height: -webkit-calc(100% - 65px);
  min-height: -moz-calc(100% - 65px);
}
.msg_card_body-panel hr{
  border-top: 1px solid #e0dddd;
  margin: 10px 0;
}
.media_card_body{
  overflow-y: auto;
  background-color: #f5f5f5 !important;
  padding-bottom: 5px;
}
.media_card_body-bubbles-wrapper{
  height : 100%;  
}

.media_card_body .media_thumb{
  width : 120px;
  height : 120px;
  float: left;
  position: relative;
}
.media_card_body .media_thumb img{
  width : 100px;
  height : 100px;
  cursor: pointer;
}
.media_thumb input{
    position:absolute;
    z-index:999;
}

.media_thumb input:active +.media_thumb_label {opacity: .9;}
.media_thumb input:checked +.media_thumb_label{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.media_thumb_label{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(.4) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(.4) opacity(.7);
            filter: brightness(1.8) grayscale(.4) opacity(.7);
}
.media_thumb_label:hover{
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.2) opacity(.9);
            filter: brightness(1.2) grayscale(.2) opacity(.9);
}

.media_card_body-panel {
  width:100%;
  clear: both;
}
.media_card_body-panel hr{
  border-top: 1px solid #e0dddd;
  margin: 10px 0;
}
.media_card_body-panel .media_card_body-panel-actions {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: table;
    text-align:center;
    min-height : 25px;
}
.media_cotainer_smart{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 8px;
    background-color: #FFF;
    color: #7b7575;
    padding: 6px;
    position: relative;
    font-size: 14px;
    border: 1px solid #4b56c0d1;
    cursor : pointer;
    display: inline;
}

.hidden {
  display : none!important;
}
.my-actions-button.btn.disabled, .my-actions-button.btn[disabled]{
  opacity: 1;
  color: #b9b4b4;
} 