// DEMO

// Icons demo

.message-preview {

     background: #e5ddd5!important;
     padding: 5px;

    .message-text {
        padding: 7px 6px 8px 9px !important;
        white-space: pre-wrap;
        background: #ffffff;
        box-shadow: 0 1px 0.5px #00000026;
        border-radius: 7.7px 7.5px 7.5px 7.5px;
    }

    &.WHATSAPP{
      background: #e5ddd5;
      padding: 16px;
      .message-text {
        white-space: pre-wrap;
        
        background: #ffffff;
        /* background: black; */
        /* border-radius: 0px 5px 5px 5px; */
        border-radius: 7.7px 7.5px 7.5px 7.5px;

        box-shadow: 0 1px 0.5px #00000026;

        font-size: 13.6px;
        line-height: 19px;

        padding: 7px 6px 8px 9px !important;

        position: relative;

        font-family: Roboto !important;
        font-family: sans-serif !important;
        letter-spacing: .2px;
        font-weight: normal;
        margin: 0.1em;
        margin-bottom: 0;
        font-size: 0.98rem;
        font-size: 0.95rem;
        font-size: 12px !important;




      }
      .message-button {

        background-color: #fff;
        border-radius: 7.5px;
        box-shadow: 0 1px 0.5px #00000026;
        box-sizing: border-box;
        flex-grow: 1;
        min-width: calc(50% - 2px);
        text-align: center;
        /* font-family: sans-serif !important; */
        /* border: 1px solid black; */
        margin-top: 2px;
        /* display: inline-block; */
        /* float: left; */
        color: #00a5f4;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        padding: 0 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #00a5f4;
        text-align: center;
        margin-top: 2px;
        font-family: sans-serif !important;
        text-align: center;
        flex-grow: 1;

      }
    }

}



