// DEMO

// Icons demo

.font-icon-wrapper {
  text-align: center;
  border: $gray-200 solid 1px;
  @include border-radius($border-radius);
  margin: 0 0 10px;
  padding: 5px;

  &.font-icon-lg {
    float: left;
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    min-width: 64px;

    i {
      font-size: $h1-font-size;
    }
  }

  &:hover {
    background: $gray-100;
    color: $primary;

    p {
      color: $gray-600;
    }
  }

  i {
    font-size: ($font-size-lg * 1.5);
  }

  p {
    color: $gray-500;
    font-size: ($font-size-sm / 1.2);
    margin: 5px 0 0;
  }
}

.btn-icon-vertical {
  min-width: 100px;
}

.card.mb-3 {
  margin-bottom: $grid-gutter-width !important;
}

// Image BG

.demo-image-bg {
  height: 350px;
  margin-bottom: $grid-gutter-width;
  background-size: 100%;
}

// Loaders wrapper

.loader-wrapper {
  width: 150px;
  height: 100px;
  @include float-left;
}

// Slick slider

.slider-item {
  background: $gray-300;
  @include border-radius($border-radius);
  color: $gray-600;
  font-size: 36px;
  padding: 0;
  position: relative;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin: 0 $layout-spacer-x;
  transition: all .2s;
}

.slick-center {
  .slider-item {
    background: $gray-500;
    color: $gray-700;
  }
}

// Image Crop

.after-img {
  max-width: 100%;
}

// Toaster
.v-toaster {
  top: auto;
  bottom: 0;
}


/* ===================================== Tooltip ==================================== */

.my-tooltip {
  display: block !important;
  z-index: 100000000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 8px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}


/* ===================================== Contact Type ==================================== */
.contact_type::before {
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: block;
  padding: 5px;
}
.contact_type.fa-facebook::before{
  background-color: #4267B2;
  color : #FFF;
}
.contact_type.fa-whatsapp::before{
  background-color: #25D366;
  color : #FFF;
}
.contact_type.fa-twitter::before{
  background-color: #1DA1F2;
  color : #FFF;
}
.contact_type.fa-chrome::before{
  background-color: #4c8bf5;
  color : #FFF;
}
.contact_type.fa-telegram::before{
  background-color: #FFF;
  color : #0088cc;
}
.contact_type.fa-telegram-plane::before{
  background-color: #0088cc;
  color : #fff;
}

.card.modal-content{
  height: 100%!important;
}

.tag-chat-status,.tag-chat-status-lg {
    background: #820000;
    color: #fff;
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px!important;

    display: inline-block;
    padding: 0 10px;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px!important;
    border: 1px solid transparent;
    border-radius: 2em;
    margin-right: 4px;
    cursor: pointer;
}
.tag-chat-status-lg {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px!important;
    padding: 0 10px;
}
.tag-chat-status-active {
    font-weight: 600;
    border-width: 2px;
}

.tag-darker {
  background: #0404043d !important;
  color: #fff !important;
}
.tag-e9908c {
  background: #e9908c!important;;
  color: #000!important;
}
.tag-ff7851.tag-ff7851 {
  background: #ff7851!important;
  color: #fff!important;
}
.tag-56cc9d{
  background: #56cc9d!important;
  color: #000!important;
}
.tag-56cc9d{
  background: #6cc3d5!important;
  color: #000!important;
}

.tag-chat-status-OPEN{
    background: #ffffff !important;
    color: #4953ba !important;
    border-width: 1px;
    border-color: #4953ba;
}
.tag-chat-status-UNASSIGNED{
    background: #ffffff !important;
    color: #b97a13 !important;
    border-width: 1px;
    border-color: #b97a13;
}
.tag-chat-status-URGENT{
    background: #ffffff !important;
    color: #b10000 !important;
    border-width: 1px;
    border-color: #b10000;
}
.tag-chat-status-ONHOLD{
    background: #ffffff !important;
    color: #8c7159 !important;
    border-width: 1px;
    border-color: #8c7159;
}
.tag-chat-status-ATTENTION{
    background: #ffffff !important;
    color: #b10000 !important;
    border-width: 1px;
    border-color: #b10000;
}
.tag-chat-status-EXPIRED{
    background: #ffffff !important;
    color: #212121 !important;
    border-width: 1px;
    border-color: #828282;
}

.tag-chat-status-RESOLVED{
    background: #ffffff !important;
    color: #69aa8ac2 !important;
    border-width: 1px;
    border-color: #69aa8a;
}
.tag-chat-status-CLOSED{
    background: #ffffff !important;
    color: #395a06 !important;
    border-width: 1px;
    border-color: #395a06
}


/**   ============================== Utility classes  ==============================  */
.my-disbaled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.clear-both {
  clear: both;
}

/***  ========================= Admin Panel ==========================================*/
.app-page-title .daterangepicker.show-calendar .ranges {
    padding: 0px !important;
}


