// Helpers imports
//@import "social";

$threshold: 55%;
$dark: #000;
$light: #FFF;
$scheme : var(--scheme-color);

@function set-color($color) {
    @if ( $scheme!=$color AND lightness($color) > $threshold) {
      @return $dark;
    }
    @else {
      @return $light;
    }
}

@function set-darken($color,$pr) {
    @if ( $scheme!=$color) {
      @return darken($color,$pr)
    }
    @else {
      @return $color;
    }
}


$color-instagram-y              : #fdf497;
$color-instagram-r              : #fd5949;
$color-instagram-p              : #d6249f;
$color-instagram-b              : #285AEB;

$popular-list:(
    red : #ff0000,
    online : #4cd137,
    purple-dirty: #9f6bb4,
    purple-darkdirty:  #8648a1,
    greyish:  #f0f4f6,
    greyed : #dfdfdf,
    grey:  #8b8b8b,
    greyer:  #5a5a5a,
    blue: #153f9b,
    black: #000000,
    white : #FFF,
    white-dirty : rgb(226, 226, 226),
    teal-100 : #d2f4ea,
    scheme :  var(--scheme-color),
    darker : #262a2e,
    darkish : #343a40d1,

    nightest :rgba(0, 0, 0, 0.5),
    night :rgba(0, 0, 0, 0.25),
    nighter :rgba(0, 0, 0, 0.1),
    nightish :rgba(0, 0, 0, 0.05),
    dayish :rgba(255, 255, 255, 0.05),
    dayer :rgba(255, 255, 255, 0.1),
    day :rgba(255, 255, 255, 0.25),
    dayest :rgba(255, 255, 255, 0.5),

    facebook: #4267B2,
    twitter:  #1DA1F2,
    telegram:  #0088cc,
    telegram-plane:  #0088cc,
    whatsapp: #25D366,
    whatsapp-dull: #10b981,
    google: #dc4a38,
    dribbble: #f26798,
    skype : #00aff0,
    chrome : #4c8bf5,
    instagram-y : #fdf497,
    instagram-r : #fd5949,
    instagram-p : #d6249f,
    instagram-b : #285AEB,
    envelope : #444343,

    oa-blue : #3f3f95,
    oa-yellow : #fab14b,
    oa-grey : #f7fafc,

    oa-major : #0a0a0a,
    oa-minor : #cfcfcf,
    oa-debit : rgb(255, 59, 48),
    oa-credit : rgb(52, 199, 89),
    oa-info : rgb(48, 176, 199),
    oa-alert : rgb(255, 149, 0),
);

@each $key,$val in $popular-list{
    .bg-#{$key},.bg-#{$key}\:before::before,.bg-#{$key}\:after::after {
        background-color: #{$val}!important;
    }
    .bg-text.bg-#{$key},.bg-text.bg-#{$key}\:before::before,.bg-text.bg-#{$key}\:after::after {
        color: set-color($val);
    }
    .text-#{$key},.text-#{$key}\:before::before,.text-#{$key}\:after::after {
        color: #{$val}!important;
    }
    .fac-bg.fa-#{$key}::before{
        background-color: #{$val};
    }
    .btn-#{$key} {
        background-color: #{$val};
        color: set-color($val);
        border-color: #{$val};
    }
    .btn-#{$key}:not(:disabled):not(.disabled):active, 
    .btn-#{$key}:not(:disabled):not(.disabled).active, 
    .btn-#{$key}:not(:disabled):not(.disabled):hover,
    .show > .btn-#{$key}.dropdown-toggle {
        color: set-color($val);
        background-color: set-darken($val,10%);
        border-color: set-darken($val,10%);
    }

    .btn-outline-#{$key} {
        color: #{$val};
        border-color: #{$val};
    }
    .btn-outline-#{$key}:not(:disabled):not(.disabled):active, 
    .btn-outline-#{$key}:not(:disabled):not(.disabled).active, 
    .btn-outline-#{$key}:not(:disabled):not(.disabled):hover, 
    .show > .btn-outline-#{$key}.dropdown-toggle {
        color: set-color($val);
        background-color: #{$val};
        border-color: #{$val};
    }
    .text-#{$key}\:hover:hover {
        color: #{$val};
    }
    .border-#{$key} {
        border-color: #{$val};
    }
  }
.text-comma:not(:empty)+.text-comma:not(:empty)::before {
    content: ',';
}

.text-bold {
    font-weight: 600 !important;
}
.text-bolder {
    font-weight: bolder !important;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.text-dotted {
    text-decoration: underline dotted;
}
.border-1px,.b-1px {
    border-width: 1px; border-style: solid;
}
.bb-1px {
    border-bottom-width: 1px; border-bottom-style: solid;
}
.bl-1px {
    border-left-width: 1px; border-left-style: solid;
}
.dull {
    opacity: 0.7;
}

.fac-bg::before {
    color : #FFF;
}
.fac-bg.fa-instagram::before,
.bg-instagram,.bg-instagram\:before::before,.bg-instagram\:after::after  {
    background: radial-gradient(circle at 30% 107%, $color-instagram-y 0%, $color-instagram-y 5%, $color-instagram-r  45%,$color-instagram-p 60%,$color-instagram-b 90%);
}
.fa-instagram.text-instagram::before {
    //background: -webkit-linear-gradient(#eee, #333);
    background: radial-gradient(circle at 30% 107%, $color-instagram-y 0%, $color-instagram-y 5%, $color-instagram-r  45%,$color-instagram-p 60%,$color-instagram-b 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fac-bg {
    &.fa-telegram:before {
        content: "\f3fe";
    }
    &.fa-facebook:before {
        content: "\f39e";
    }
}

.fa-x {
    // position: fixed;
    // top:50%;
    // left:50%;
    // transform:translate(-50%,-50%);
    // background-color: black;
    &:after {
        position: absolute;
        content: "\f715";
        color: red;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        // font-weight: 100;
        // font-size: 1.7em;
        // left: 7px;
        // top: -10px;
        // margin-left: -10%;
        // margin-right: -25%;
        // line-height: 0em;
        // position:fixed;
         top:50%;
         left:50%;
        transform:translate(-50%,-50%);
        text-align:center;   
    }
}

.fa-flip-x {
    -webkit-transform: rotate(-1);
    transform: scaleX(-1);
}