$color-purple-dirty             : #9f6bb4; //159 107 180
$color-purple-darkdirty         : #8648a1;
$color-twitter                  : #1DA1F2;
$color-telegram                 : #0088cc;
$color-whatsapp                 : #25D366;
$color-instagram-y              : #fdf497;
$color-instagram-r              : #fd5949;
$color-instagram-p              : #d6249f;
$color-instagram-b              : #285AEB;

.bg-purple-dirty {
    background-color: $color-purple-dirty;
}
.text-purple-dirty {
    color: $color-purple-dirty;
}
.bg-purple-darkdirty {
    background-color: $color-purple-darkdirty;
}
.text-purple-darkdirty {
    color: $color-purple-darkdirty;
}

.text-comma:not(:empty)+.text-comma:not(:empty)::before {
    content: ',';
}