// Helpers imports
@import "social";

$threshold: 55%;
$dark: #000;
$light: #FFF;

@function set-color($color) {
    @if (lightness($color) > $threshold) {
      @return $dark;
    }
    @else {
      @return $light;
    }
}

$popular-list:(
    purple-dirty: #9f6bb4,
    purple-darkdirty:  #8648a1,
    greyish:  #f0f4f6,
    greyed : #dfdfdf,
    grey:  #8b8b8b,
    greyer:  #5a5a5a,
    blue: #153f9b,
    white : #FFF,
    white-dirty : rgb(226, 226, 226),
    teal-100 : #d2f4ea,
);

@each $key,$val in $popular-list{
    .bg-#{$key},.bg-#{$key}\:before::before,.bg-#{$key}\:after::after {
        background-color: #{$val}!important;
    }
    .text-#{$key} {
        color: #{$val};
    }
    .btn-#{$key} {
        background-color: #{$val};
        color: set-color($val);
        border-color: #{$val};
    }
    .btn-#{$key}:not(:disabled):not(.disabled):active, 
    .btn-#{$key}:not(:disabled):not(.disabled).active, 
    .btn-#{$key}:not(:disabled):not(.disabled):hover,
    .show > .btn-#{$key}.dropdown-toggle {
        color: set-color($val);
        background-color: darken($val,10%);
        border-color: darken($val,10%);
    }

    .btn-outline-#{$key} {
        color: #{$val};
        border-color: #{$val};
    }
    .btn-outline-#{$key}:not(:disabled):not(.disabled):active, 
    .btn-outline-#{$key}:not(:disabled):not(.disabled).active, 
    .btn-outline-#{$key}:not(:disabled):not(.disabled):hover, 
    .show > .btn-outline-#{$key}.dropdown-toggle {
        color: set-color($val);
        background-color: #{$val};
        border-color: #{$val};
    }
    .text-#{$key}\:hover:hover {
        color: #{$val};
    }
    .border-#{$key} {
        border-color: #{$val};
    }
  }
.text-comma:not(:empty)+.text-comma:not(:empty)::before {
    content: ',';
}

.dull {
    opacity: 0.7;
}

.fa-x {
    // position: fixed;
    // top:50%;
    // left:50%;
    // transform:translate(-50%,-50%);
    // background-color: black;
    &:after {
        position: absolute;
        content: "\f715";
        color: red;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        // font-weight: 100;
        // font-size: 1.7em;
        // left: 7px;
        // top: -10px;
        // margin-left: -10%;
        // margin-right: -25%;
        // line-height: 0em;
        // position:fixed;
         top:50%;
         left:50%;
        transform:translate(-50%,-50%);
        text-align:center;   
    }
}