//
// Input group
//

//@import "../core/forms/input-group";

.my-normalize-v2 {
  .v-select{
    color: rgb(87, 87, 87) !important; 
    .vs__selected{
      color: rgb(87, 87, 87) !important;
    }
  }
  .vs__search::placeholder,
  .vs__dropdown-toggle,
  .vs__dropdown-menu,
  .vs__dropdown-option{
    color: rgb(87, 87, 87) !important;
  }
}

.basic-component {
  &.bc-v-select{
    .has-prelabel {
      display: flex;
      .input-group-prepend>* {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .v-select {
        flex: 1 1 auto;
        color: rgb(87, 87, 87) !important; 
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        .vs__dropdown-toggle {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .vs__selected{
          color: rgb(87, 87, 87) !important;
        }
      }
    }
  }

  .vs__search::placeholder,
  .vs__dropdown-toggle,
  .vs__dropdown-menu,
  .vs__dropdown-option{
    color: rgb(87, 87, 87) !important;
  }
  .vs__dropdown-option.vs__dropdown-option--highlight {
      color: #FFF !important;
  }
  .v-select-sm {
    .vs__dropdown-toggle {
      height: calc(1.8125rem + 2px);
      .vs__selected {
        height: calc(1.8125rem + 2px);
        margin: 0px 2px 0;
      }
    }
    input {
      height: calc(1.8125rem + 0px);
      margin: 0px 2px 0;
    }
  }
  &.bc-input{
    .input-group input.form-control:not(:first-child){
      padding-left: 12px;
    }
  }
}


//Customer SCSS
.form-group.is-question {
    position: relative;
    .form-control-label{
      position: absolute;
      left: 10px;
      top: 10px;
      color: #999;
      background-color: #fff;
      z-index: 10;
      transition: transform 150ms ease-out, font-size 150ms ease-out;
      font-weight: 100;
    }
  
    .form-control-label.has-value,
    .form-control-label.is-valid,
    .form-control-label:focus,
    .form-control-label:active,
    .form-control-label.focused {
      transform: translateY(-190%);
      font-size: .75em;
      left: 5px;
      margin-bottom: 0px;
      margin: 5px 0px;
      padding: 0px 7px;
      background-color: transparent;
      font-weight: 400;
    }
  
    .input-group, .input-group-alternative  {
      border-radius: 0px;
      border-bottom: 1px solid #b8b2b2;
      &.focused {
        border-bottom: 1px solid #067aff;
        border-radius: 0px;
      }
    }

    select.form-control ,
    input.form-control {
      position: relative;
      // padding: 12px 0px 5px 0;
      // width: 100%;
      outline: 0;
      border: 0;
      // box-shadow: 0 0px 0 0 #e5e5e5;
      transition: box-shadow 150ms ease-out;
      &:focus {
        box-shadow: 0 0px 0 0 #e5e5e5;
      }

      &.none-value {
        color: #999;
        font-weight: 100;
      }

    }

    .input-group-alternative {

        &.input-group-text-area {
          display: flex;
          flex-wrap: nowrap;
          .input-group-append-text-limit {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #0000;
            z-index: 100000000000000000;
          }
        }
        input, textarea{
          border-radius: 0px;
        }
        &.input-group-select {
          background-color: $input-bg;
          select.form-control{
            border-radius: 0px;
            &:last-child{
              width: calc(100% - 10px);
            }
          }
        }
        .v-select {
            .vs__dropdown-toggle {
                border: 0px;
                padding: 7px 5px;
                min-height: 43px;
                .vs__selected {
                  //color: #8898aa!important;
                  color: $gray-600!important;
                  font-size : $input-btn-font-size;
                }
            }
            &.v-select-sm {
              .vs__dropdown-toggle {
                  padding: 5px 5px;
                  min-height: 39px;
              }
            }
            &.v-select-xs {
              .vs__dropdown-toggle {
                  padding: 5px 5px;
                  min-height: 37px;
              }
            }
        }
    }

    .form-control.is-valid {
      box-shadow: 0 2px 0 0 lightgreen;
    }
  
  }

  .form-group-input {
    .help-feedback {
      display: inline-block;
      color: #999;
      font-size: 70%;
      padding-left: 5px;;
    }
  }

  .basic-component.bc-layout-default{

    .input-group textarea {
      width: 100%;
      height: 100%;
      &:focus {
        outline: 0;
        border-color:#8d8f91;
      }
    }
    .form-group {
      margin-bottom: 1rem;
    }
    &.bc-size-sm {
      .form-group {
        margin-bottom: .5rem;
      }
    }

    .input-group > .complete-box {
      flex: 1 1 auto;
    }

    .v-select{
      .vs__dropdown-toggle {
        background-color: #FFF;
      }
      color: rgb(87, 87, 87) !important; 
      .vs__selected{
        color: rgb(87, 87, 87) !important;
      }
    }

    &.bc-disabled {
      .v-select.vs--disabled {
        .vs__dropdown-toggle {
          background-color: #eaecef;
        }
        .vs__selected {
          width: 100%;
          background-color: #0000;
        }
        input {
          display: none;
        }
        .vs__actions {
          display: none;
        }
      }
      .form-control-label {
        background-color: rgba(0, 0, 0, 0);
      }
      .input-group-append {
        background-color: rgba(0, 0, 0, 0);
        .input-group-text {
          background-color: rgba(0, 0, 0, 0);
          display: none;
        }
      }
      select,textarea {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        resize: none;
      }
    }

  }



  //////// FLUSHED LAYOUT /// START
  .basic-component.bc-layout-flushed{

      .form-control:focus {
        box-shadow: inset 0 0 0 0.1rem #007bff40;
        border-radius: 0px;
        &.is-invalid {
         box-shadow: inset 0 0 0 0.1rem #ff785140;
        }
      }

      .input-group > .complete-box {
        width: 100%;
      }

      .layout-flushed {
        padding: 0px;
        margin: 0px;

        //From .form-control
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    
        &>div {
          position: relative;
        }
        
        .form-control-label {
          padding: 0px 5px 1px 5px;
          background-color: #d9d9d942;
          font-size: 11px;
          position: absolute;
          z-index: 5;
          left: 0px;
          top: 0px;
          border-bottom-right-radius: 5px;
          font-style: italic;
          font-weight: 300;
        }
        .complete-box {
          // line-height: 0px;
        }
        .input-group textarea {
          border: 0px solid #d0d7dc;
          border-radius: 0.25rem;
          padding: 18px 5px 18px 10px;
          font-size: 14px;
          width: 100%;
          height: 100%;

          &:hover{
            border-color:#8391a5;
          }
          &:focus{
            outline:0;
            border-color:#20a0ff;
          }
          &::-webkit-input-placeholder{
            color:#97a8be;
          }
          &::-moz-placeholder{
            color:#97a8be
          }
          &:-ms-input-placeholder{
            color:#97a8be
          }
          &::placeholder{
            color:#97a8be
          }
    
        }
    
        .input-group .input-group-append {
          position: absolute;
          bottom: 0px;
          right: 0px;
          z-index: 5;
          max-width: 20%;
          background-color: rgba(83, 83, 83, 0.034);
          .input-group-text {
            background-color: transparent;
            border: none;
            font-size: 12px;
            padding: 2px 5px;
          }
        }

        .input-group-append-copy {
          display: block;
          position: absolute;
          top: 0em;
          right: 0em;
          margin-top: 4px;
          margin-left: 4px;
        }

        .invalid-feedback {
          z-index: 5;
          display: block;
          position: absolute;
          bottom: 1px;
          left: 1px;
          max-width: 80%;
          padding: 3px 5px 1px 5px;
          background-color: #ffffffdb;
        }
    
      }

      //First Element
      &:first-of-type {
        .layout-flushed,
        .input-group textarea {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-bottom-color: transparent;
          border-bottom-width: 0px;
        }
      }
  
      //Middle Elements
      &+.bc-layout-flushed:not(:last-of-type) {
        .layout-flushed,
        .input-group textarea  {
          border-radius: 0px;
          border-bottom-color: transparent;
          border-bottom-width: 0px;
        }
      }

      &:last-of-type {
        .layout-flushed,
        .input-group textarea  {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
      }


  }
  //////// FLUSHED LAYOUT /// ENDS


  ///  STYLERS
  /// 
  /// 

.styler-20-80 {
  &.basic-component,.basic-component {
    &.bc-input, &.bc-v-select {
      .input-group-prepend {
        min-width: 20%;
        .btn {
          width: 100%;
        }
      }
    }
  }
}

.styler-height-fix {
  &.basic-component,.basic-component {
    &.bc-input, &.bc-v-select, &.bc-select, &.bc-text-area {
      .input-bottom {
        min-height: 10px;
        display: inline-block;
      }
    }
  }
}